In [1]:
import pandas as pd

s = pd.Series(list('abcd'))
s

0    a
1    b
2    c
3    d
dtype: object

In [2]:
pd.get_dummies(s, sparse=True)

   a  b  c  d
0  1  0  0  0
1  0  1  0  0
2  0  0  1  0
3  0  0  0  1

In [3]:
from sklearn import preprocessing
enc = preprocessing.OneHotEncoder()
enc.fit([[0, 0, 3], [1, 1, 0], [0, 2, 1], [1, 0, 2]])    # fit来学习编码
enc.transform([[0, 1, 3]]).toarray()    # 进行编码

array([[1., 0., 0., 1., 0., 0., 0., 0., 1.]])